force-app/main/default/flows/lead_by_ramesh.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>sending_email</name>
        <label>sending email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Mark_Lead_As_Email_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Loop_Through_Leads.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>00XgK00000HIjOLUA1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>Loop_Through_Leads.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Mark_Lead_As_Email_Sent</name>
        <label>Mark Lead As Email Sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Leads.Is_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Leads</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>lead by ramesh {!$Flow.CurrentDateTime}</interviewLabel>
    <label>lead by ramesh</label>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Oldest_Unsent_Leads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>sending_email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Emailed_Leads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Oldest_Unsent_Leads</name>
        <label>Get Oldest Unsent Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>2.0</numberValue>
        </limit>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Is_Email_Sent__c</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Emailed_Leads</name>
        <label>Update Emailed Leads</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>LeadsToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Oldest_Unsent_Leads</targetReference>
        </connector>
        <schedule>
            <dayOfMonthToRun>0</dayOfMonthToRun>
            <frequency>Daily</frequency>
            <frequencyNumber>0</frequencyNumber>
            <startDate>2026-05-18</startDate>
            <startTime>00:23:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>LeadsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>refsaf</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
